debian/stsbl-iserv-dev-vim/*
debian/stsbl-iserv-dev-vim.substvars
debian/stsbl-iserv-dev-vim.debhelper.log
debian/files
debian/debhelper-build-stamp
debian/*.debhelper
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
