Source: stsbl-iserv-dev-vim
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0

Package: stsbl-iserv-dev-vim
Architecture: all
Depends: iserv-update,
         vim,
         vim-addon-manager,
         vim-youcompleteme,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Entwicklungswerkzeuge - VIM
 Enthält zusätzliche für die Entwicklung relevante Einstellungen für den Editor
 VIM.
